swagger: "2.0"
info:
  description: "API B2B of Ticketing"
  version: "1.0"
  title: "B2B API"
  # termsOfService: "http://swagger.io/terms/"
  contact:
    email: "dkastowo@yahoo.co.id"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.atiket.com"
basePath: "/v1"
paths:
  /generate_token:
    get:
      tags:
       - Authorization
      summary: ""
      description: "Generate token code to access apps"
      consumes:
        - application/json
      operationId: flight.generateToken
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/Token"
        "400":
          description: BIND_EXCEPTION Some parameters are invalid.
        "401":
          description: UNAUTHORIZED Access Token is invalid.
        "403":
          description: FORBIDDEN Server not Found or invalid URL.
        "404":
          description: NOT_FOUND URL not found.
        "500":
          description: NOT_FOUND URL not found.
  /refresh_token:
    get:
      tags:
       - Authorization
      summary: ""
      description: "Refresh access token"
      consumes:
        - application/json
      parameters:
        - in: header
          name: accessToken
          type: string
          required: true
      operationId: flight.refreshToken
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/RefToken"
        "400":
          description: BIND_EXCEPTION Some parameters are invalid.
        "401":
          description: UNAUTHORIZED Access Token is invalid.
        "403":
          description: FORBIDDEN Server not Found or invalid URL.
        "404":
          description: NOT_FOUND URL not found.
        "500":
          description: NOT_FOUND URL not found.
  /search_flight:
    get:
      tags:
       - Flight Search
      summary: ""
      description: |
        Search Flight Process. Returning every kind of available itineraries in our inventory.
      consumes:
        - application/json
      parameters:
        - in: header
          name: accessToken
          type: string
          required: true
        - in: query
          name : origin
          type: string
          description: |
            Origin Airport or City.
            City always has 'c' postfix in its name. Example : JKT --> JKTC
          required: true
        - in: query
          name : originType
          type: string
          enum:
            - AIRPORT
            - CITY
          description: |
            AIRPORT : if origin using the airport code.
            CITY : if origin using the city code
          required: true
        - in: query
          name: destination
          type: string
          description: |
            Destination Airport or City.
            City always has 'c' postfix in its name. Example : JKT --> JKTC
          required: true
        - in: query
          name: destinationType
          type: string
          enum:
            - AIRPORT
            - CITY
          description: |
            AIRPORT : if origin using the airport code.
            CITY : if origin using the city code
          required: true
        - in: query
          name: departureDate
          type: string
          format: Date
          description: |
            Departure Date (YYYY-MM-DD). Must equal to or greater than today date
          required: true
        - in: query
          name: returnDate
          type: string
          format: Date
          description: |
            Return Date (YYYY-MM-DD). Must equal to or greater than departureDate
        - in: query
          name: adult
          type: integer
          default: 1
          maximum: 9
          required: true
        - in: query
          name: child
          type: integer
          default: 0
          maximum: 9
          required: true
        - in: query
          name: infant
          type: integer
          default: 0
          maximum: 9
          required: true
        - in: query
          name: cabinClass
          type: string
          enum:
            - ECONOMY
            - BUSINESS
            - FIRST
            - PREMIER
          required: true
        - in: query
          name: searchType
          type: string
          enum:
            - ONE_WAY
            - ROUND_TRIP
          description: |
            ONE_WAY : put this if you want the result only showing the departing flight from your selected origin.
            ROUND_TRIP : put this if you want the result both for the departing flight from your selected origin and selected destination
          required: true

      operationId: flight.searchFlight
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/ResponseSuccess"
        "400":
          description: Error header params
  /add_to_cart:
    post:
      tags:
       - Flight Book
      summary: ""
      description: |
        Add Current Selected Flight Itinerary to user cart.
        This endpoint will produce the cartData.
        This data only saved temporary and will be expired within 15 minutes.
        CartId will be used for booking process.
      consumes:
        - application/json
      parameters:
        - in: header
          name: accessToken
          type: string
          required: true
        - in: body
          name : addToCart
          schema:
            $ref: "#/definitions/AddToCart"
      operationId: flight.addToCart
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/ResponseSuccess"
        "400":
          description: Error header params
  /get_cart/{cartId}:
    get:
      tags:
       - Flight Book
      summary: ""
      description: |
        Get Cart Detail By returned Cart ID.
      consumes:
        - application/json
      parameters:
        - in: header
          name: accessToken
          type: string
          required: true
        - in: path
          name : cartId
          type: string
          description: |
            Cart Id retrieved from Add Cart Process
          required: true
        - in: query
          name : lang
          type: string
          description: |
            Language Code
          default: ID

      operationId: flight.getCart
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/ResponseSuccess"
        "400":
          description: Error header params
  /booking:
    post:
      tags:
       - Flight Book
      summary: ""
      description: |
        Booking Process
      consumes:
        - application/json
      parameters:
        - in: header
          name: accessToken
          type: string
          required: true
        - in: body
          name : booking
          schema:
            $ref: "#/definitions/Booking"
      operationId: flight.booking
      responses:
        "200":
          description: Succesful operation
          schema:
            $ref: "#/definitions/ResponseSuccess"
        "400":
          description: Error header params

definitions:
  Token:
    type: object
    properties:
      status:
        type: string
      data:
        type: object
        properties:
          code:
            type: string
          data:
            type: object
            properties:
              accessToken:
                type: string
              tokenType:
                type: string
              expiresIn:
                type: string
              scope:
                type: string
              jti:
                type: string
          errors:
            type: array
            items:
              type: string
          message:
            type: string
          serverTime:
            type: string
            format: date-time
  RefToken:
    type: object
    properties:
      status:
        type: string
      data:
        type: object
        properties:
          code:
            type: string
          data:
            type: object
            properties:
              clientId:
                type: string
              expiresIn:
                type: string
              jti:
                type: string
          errors:
            type: array
            items:
              type: string
          message:
            type: string
          serverTime:
            type: string
            format: date-time
  AddToCart:
    type: object
    properties:
      cartDetails:
        type: array
        items:
          type: object
          properties:
            flightId:
              type: string
            supplierRequest:
              type: object
              properties:
                supplierId:
                  type: string
      currency:
        type: string
        description: |
          Selected Currency
      departurePrice:
        type: number
        format: double
        description: |
          Selected Departure Flight Total Price
  Booking:
    type: object
    properties:
      cartId:
        type: string
      adults:
        type: array
        items:
          type: object
          properties:
            departureBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Departure Flight. This value can be retrieved from the departureBaggage attribute in the 'Get Cart' API response.
            dob:
              type: string
              description: |
                Passenger Date of Birth
            firstName:
              type: string
              description: |
                Firstname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            frequentFlyer:
              type: string
              description: |
                Frequent Flyer Account
            fullName:
              type: string
              description: |
                Fullname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            issuingCountry:
              type: string
              description: |
                Country Code which issuing the Passenger Passport
            issuingDate:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport was issued
            lastName:
              type: string
              description: |
                Lastname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            nationality:
              type: string
              description: |
                Nationality (Country Code) of the Passenger
            passportExpiry:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport will expired
            passportNo:
              type: string
              description: |
                Passport Number
            returnBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Return Flight. This value can be retrieved from the returnBaggage attribute in the 'Get Cart' API response.
            title:
              type: string
              enum:
                - Mr.
                - Mrs.
                - Ms.
                - Mstr.
      childs:
        type: array
        items:
          type: object
          properties:
            departureBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Departure Flight. This value can be retrieved from the departureBaggage attribute in the 'Get Cart' API response.
            dob:
              type: string
              description: |
                Passenger Date of Birth
            firstName:
              type: string
              description: |
                Firstname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            frequentFlyer:
              type: string
              description: |
                Frequent Flyer Account
            fullName:
              type: string
              description: |
                Fullname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            issuingCountry:
              type: string
              description: |
                Country Code which issuing the Passenger Passport
            issuingDate:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport was issued
            lastName:
              type: string
              description: |
                Lastname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            nationality:
              type: string
              description: |
                Nationality (Country Code) of the Passenger
            passportExpiry:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport will expired
            passportNo:
              type: string
              description: |
                Passport Number
            returnBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Return Flight. This value can be retrieved from the returnBaggage attribute in the 'Get Cart' API response.
            title:
              type: string
              enum:
                - Mr.
                - Mrs.
                - Ms.
                - Mstr.
      infants:
        type: array
        items:
          type: object
          properties:
            departureBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Departure Flight. This value can be retrieved from the departureBaggage attribute in the 'Get Cart' API response.
            dob:
              type: string
              description: |
                Passenger Date of Birth
            firstName:
              type: string
              description: |
                Firstname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            frequentFlyer:
              type: string
              description: |
                Frequent Flyer Account
            fullName:
              type: string
              description: |
                Fullname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            issuingCountry:
              type: string
              description: |
                Country Code which issuing the Passenger Passport
            issuingDate:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport was issued
            lastName:
              type: string
              description: |
                Lastname, there are some naming rules applied depends on the Marketing Airline and Routes see 'Naming Rule' section
            nationality:
              type: string
              description: |
                Nationality (Country Code) of the Passenger
            passportExpiry:
              type: string
              format: date
              description: |
                Datetime when the Passenger Passport will expired
            passportNo:
              type: string
              description: |
                Passport Number
            returnBaggage:
              type: string
              description: |
                Add-on baggage value (in kg or pcs) for Return Flight. This value can be retrieved from the returnBaggage attribute in the 'Get Cart' API response.
            title:
              type: string
              enum:
                - Mr.
                - Mrs.
                - Ms.
                - Mstr.
      contact:
        type: object
        properties:
          areaCode:
            type: string
            description: |
              Phone Area Code, example : '+62'
          dob:
            type: string
            description: |
              Customer Date of Birth
          email:
            type: string
            format: email
            description: |
              Customer Email

          fullName:
            type: string
            description: |
              Customer Fullname
          phone:
            type: string
            description: |
              Customer Phone Number (without areaCode)
          title:
            type: string
            enum:
              - Mr.
              - Mrs.
              - Ms.
              - Mstr.
      insurance:
        type: boolean
  ResponseSuccess:
    type: object
    properties:
      status:
        type: number
        example: 200
      data:
        type: object
